<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Statefarm Assignment Test</title>
</head>
<body>


	<div class="Container">
		<div th:if="${not #lists.isEmpty(departments1)}">
			<h2>Department Table</h2>
			<fieldset>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="department: ${departments1}">
							<td>[[${department.id}]]</td>
							<td>[[${department.name}]]</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>

	</div>
</body>
</html>