<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>ALL EMPLOYEES</title>
</head>
<body>
	<div>
		<div class="Container">
			<div th:if="${not #lists.isEmpty(employees1)}">
				<h2>Employee Table</h2>
				<fieldset>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Employee Id</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Middle Name</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee: ${employees1}">
								<td>[[${employee.id}]]</td>
								<td>[[${employee.firstName}]]</td>
								<td>[[${employee.lastName}]]</td>
								<td>[[${employee.middleName}]]</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
			</div>

		</div>
</body>
</html>